.cartContainer{
    flex: 1 1 30%;
    z-index: 80;
   justify-content: center;
}

@media (min-width: 700px){
    .cartContainer{
        flex: 1 1 20%;
    }
    .cart{
        display: flex;
        flex-direction: column;
        line-height: 2rem;
        text-align: left;
    }
}
