.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 1 1 10%;
    flex-wrap: wrap;
    text-wrap: wrap;
}
@media (min-width: 700px) {
    .profile h3{
        font-size: 2rem;
       
    }
    
}