.side{
   display: flex;
    flex-direction: column;
  }

#side{
     display: flex;
     flex-direction: column;
}

#side .cart{
  text-wrap: wrap; 
}

@media (min-width: 300px) {
    #side{
        display: flex;
        text-wrap: wrap;
    }
    #side .cart{
        display: flex;
        flex-wrap: wrap;
      min-width: 138px;
  overflow-x: hidden;
    padding-left: 0;
    word-break: break-all;
}
}

@media (min-width: 500px) {
    #side{
        flex-direction: row; 
        max-height: 15rem;
    }
    #side h2{
        font-size: 2rem;
    }
}

@media (min-width: 700px) { 
    #side{
     width: 100%;
    position: absolute;
    left: 0;
    }
     #side .cart{
    width: fit-content;

}
}
.ad {
    box-shadow: inset 0 0 0 1px #fff;
    padding: 1rem;
    color: #333;
}
 