.content {
    color: rgb(56, 16, 16);
}
.content li{
    padding: 0.3rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
    box-shadow: 1px 1px 1px 1px rgb(77, 19, 5);
}
