.discount {
    color: red;
    font-size: 2rem;
    font-weight: bold;
     margin-left: 10px;
}
@media (min-width: 300px) {
    .discount h2 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }
}