.main-footer{
    color: #fff;
    background: #000;
     a{
        color: #fff;
        text-decoration: none;
        i{
           margin: 0 0.3rem;
        }
    } 
   
}
section{
    text-align: center;
    padding:0.6rem;
}