*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  font-size:62.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



